@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {
    --primary-color: #5d2dc4;
    --secundary-color: #131313;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.header {
    background-color: var(--secundary-color);
    color: aliceblue;
    overflow: auto;
    border-bottom: 3px solid var(--primary-color);
    padding: 30px 130px 30px 130px;
}

.container {
    width: 80%;
    margin: auto;
}

.container-about {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.navbar {
    list-style: none;
    float: right;

}

.logo {
    margin: 0;
    float: left;
    padding-top: 5px;
}

.navbar li {
    float: left;
    margin-left: 10px; 
    text-transform: uppercase;
    font-weight: bold;
}

.navbar a {
    color: aliceblue;
    text-decoration: none;
}

.destaque {
    color: var(--primary-color);
}

.banner {
    text-align: center;
    background: url(../img/rocket.jpg) no-repeat fixed;
    background-size: cover;
    height: 400px;
}

.banner h1 {
    color: aliceblue;
    letter-spacing: 20px;
    margin: 0;
    font-size: 50px;
    padding-top: 150px;
}

.banner h3 {
    color: aliceblue;
    margin-bottom: 5px;
    letter-spacing: 5px;
}

.banner h5 {
    color: aliceblue;
    margin-top: 0;
    letter-spacing: 2px;
}

.barra {
    background-color: var(--secundary-color);
    height: 115px;
}

.box-about {
    overflow: auto;
    margin-top: 50px;
}

.history-img {
    height: 425px;
    width: 95%;
    background: url(../img/rocket2.jpg) no-repeat;
}

.history {
    width: 60%;
    padding: 20px;
    float: right;
    z-index: -1;
}

.box {
    overflow: auto;
    margin-top: 50px;
}

.box-product {
    text-align: center;
}

.box img {
    height: 100px;
}

.box-team {
    overflow: auto;
    margin-top: 30px;
}

.team {
    text-align: center;
}

.box-team img {
    height: 200px;
}

.box-item {
    float: left;
    text-align: center;
    width: 27%;
    padding: 3%;
}

.box-pantreon {
    overflow: auto;
    margin-top: 30px;
}

.pantreon {
    text-align: center;
    width: 90%;
    padding: 0 8%;
}

.pantreon img {
    width: 100px;
    margin-left: 50px;
}

.box-pantreon img {
    height: 70px;
    float: left;
    padding-right: 50px;
    margin: 50px 0;
}   

.footer {
   text-align: center;
   background-color: var(--secundary-color);
   height: 90px
}

.footer h4 {
    margin: 0;
    font-weight: 100;
    color: #fff;
    padding-top: 40px;
    cursor: pointer;
}

.footer a {
    text-decoration: none;
    color: aliceblue;
}